* {
    box-sizing: border-box;
  }


body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
    display: grid;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    grid-template-areas: "header1"
    "header2"
    "main"
    "footer";
    
}

header{
    background-color: white
  }
  
  .header1 {
    grid-area: header1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2em;
    margin-right: 2em;
    border-width: 0.1px;
  }
  
  
  nav {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
  
  nav a:hover{
    color: blue;
  }

  a {
    font-size: 23px;
  }

  nav a:hover{
    color: blue;
    background-color: rgb(250, 239, 139);;
    border-radius: 0.1em;
  }
  
  nav a:focus{
    color:red;
  }
  

  .header2{
    grid-area: header2;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    border-style: solid;
    border-width: 3px;
    background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.center{
    grid-column: 2;
}

p {
    font-size: 50px;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-bottom: 2em;
}

.space{
    display: flex;
    justify-content: space-between;
}


.formgrid {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: rgb(41, 111, 232);
    padding: 1em;
    margin-top: 2em;
    border-radius: 1em;
}

form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

label {
    display: flex;
    padding-top: 1em;
    font-size: 22px;
    color: white;
}

h3{
    height: 1vh;
    font-size: 30px;
    color: white;
}

input[type="email"] {
    height: 2.5em;
}

input[type="text"] {
    height: 2.5em;
}

textarea {
    height: 5.5em;
}

button{
    border: solid black;
    margin-top: 2em;
    height: 6vh;
    font-size: 15px;
    border-width: 1px;
}

.gradient{
    background-image: linear-gradient(to right, rgb(247, 227, 49), white);
    background-position: 0%;
      transition: background-position 1s ease;
      background-size: 200%;
}

.gradient:hover {
    background-position: 100%;
  }

  footer {
    grid-area: footer;
    border-style: solid;
    border-width: 3px;
    padding: 2em;
 }

.foot {
    font-size: 23px;
}

@media screen and (min-width:700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (min-width:1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header1 {
     grid-area: header1;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin-left: 2em;
     margin-right: 2em;
   }
   
   nav {
     grid-column: 3;
   }

   a {
    font-size: 28px;
  }
}

